<!DOCTYPE html>
<html lang="en">

<style>
    body {
    background-image: url('static/img/bc.png');
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container">
              {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
              {% else %}
                  <p>
                      <a href="/register">
                          <button type="button" class="btn btn-primary btn-lg">Зарегистрироваться</button>
                      </a>
                      <a href="/login">
                          <button type="button" class="btn btn-secondary btn-lg">Войти</button>
                      </a>
                  </p>
              {% endif %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <a href="/create">
                   <button type="button" class="btn btn-success">Создать свою викторину</button>
              </a>
          </div>
        </nav>
    </header>

    <h1> Добро пожаловать в нашу викторину</h1>
    <h2> Вы можете найти викторину для себя или создать свою</h2>

<div class="row">
        <div class="card" style="width: 23rem;">
            <img src="/static/img/geo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Викторина по географии</h5>
                <p class="card-text">Вы сможете проверить свои знания в географии или узнать интересные факты</p>
                <a href="/before_geography">
                    <button type="button" class="btn btn-primary">Начать</button>
                </a>
              </div>
        </div>
        <div class="card" style="width: 23rem;">
          <img src="/static/img/chemistry.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Викторина по химии</h5>
            <p class="card-text">Вы сможете проверить свои знания в химии или узнать интересные факты</p>
            <a href="/before_chemistry">
                <button type="button" class="btn btn-primary">Начать</button>
            </a>
          </div>
        </div>
        <div class="card" style="width: 23rem;">
            <img src="/static/img/erudition.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Викторина по общим знаниям</h5>
                <p class="card-text">Вы сможете проверить свою эрудицию. ВАЖНО: викторина на время, надо пройти
                как можно больше вопросов за ограниченное время.</p>
                <a href="/before_erudition">
                    <button type="button" class="btn btn-primary">Начать</button>
                </a>
              </div>
        </div>
</div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>