<!DOCTYPE html>
<html>
<head>
    <title>Flask Buttons</title>
</head>
<body>
    <h1>Buttons Example</h1>

    <!-- Submit Button for a Form -->
    <form action="/submit" method="post">
        <button type="submit">Submit Form</button>
    </form>

    <!-- Link Button to Navigate to Another Page -->
    <a href="/another-page">
        <button>Go to Another Page</button>
    </a>

    <!-- Button with JavaScript Action -->
    <button onclick="myFunction()">Click Me</button>
    <script>
        function myFunction() {
            alert("Button clicked!");
        }
    </script>
</body>
</html>



    <div class="card" style="width: 18rem;">
      <img src="/static/img/geo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Викторина по географии</h5>
        <p class="card-text">Вы сможете проверить свои знания в географии или узнать интересные факты</p>
        <a href="/geography">
            <button type="button" class="btn btn-primary">Начать</button>
        </a>
      </div>

        <div class="card" style="width: 18rem; height: 15rem">
          <img src="/static/img/geo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Викторина по химии</h5>
            <p class="card-text">Вы сможете проверить свои знания в химии или узнать интересные факты</p>
            <a href="/geography">
                <button type="button" class="btn btn-primary">Начать</button>
            </a>
          </div>
        </div>